@import "../../global.scss";

.register {
  width: 100vw;
  height: 100vh;
  background-color: #e9faff;
  display: flex;
  align-items: center;
  justify-content: center;

  .register__wrapper {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-between;

    .register__left,.register__right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .register__left {

      .register__logo {
        font-size: 70px;
        font-weight: 800;
        color: $maincolor;
      }

      .register__desc {
        font-size: 20px;
        font-weight: 500;
      }
    }

    .register__right {
      align-items: center;

      .register__formContainer {
        width: 420px;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        border-radius: 10px 0 0 10px;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.36); 
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.36);
  
        input {
          width: 90%;
          border: none;
          padding: 25px 10px 10px 10px;
          margin-bottom: 15px;
          font-size: 16px;
          border-bottom: 2px solid $maincolor;
          border-radius: 5px;
          outline-width: 0;
  
          &:focus {
            outline-width: 0;
          }
          
          &::placeholder {
            color: gray;
          }
        }

        .register__button {
          width: 90%;
          padding: 15px;
          margin: 20px 0;
          font-size: 25px;
          font-weight: 700;
          background-color: $maincolor;
          color: white;
          border: none;
          outline-width: 0;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }

          &:focus {
            outline-width: 0;
          }
        }

        .register__login {
          width: 90%;
          padding: 15px;
          margin: 20px 0;
          font-size: 22px;
          font-weight: 700;
          background-color: #0ac047;
          color: white;
          border: none;
          outline-width: 0;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }

          &:focus {
            outline-width: 0;
          }
        }
      }
    }  
  }
}