.profile {

  .profile__body {
    display: flex;

    .profile__right {
      flex: 9;

      .profile__rightTop {
        margin-bottom: 30px;

        .profile__topImages {
          height: 320px;
          position: relative;

          .profile__coverImg {
            width: 100%;
            height: 250px;
            object-fit: cover;
          }

          .profile__profileImg {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 3px solid white;
            object-fit: cover;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 150px;
          }
        }

        .profile__userInfo {
          display: flex;
          align-items: center;
          flex-direction: column;

          h4 {
            font-size: 20px;
          }
        }
      }

      .profile__rightBottom {
        display: flex;
      }
    }
  }
}