.post {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.36); 
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.36);
  margin: 30px 0;

  .post__wrapper {
    padding: 15px;
    .post__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .post__topLeft {
        display: flex;
        align-items: center;
  
        img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;
        }

        .post__topLeftUsername {
          font-size: 16px;
          font-weight: 500;
          margin-right: 10px;
        }

        .post__topLeftTimestamp {
          font-size: 12px;
        }
      }      
    }

    .post__center {
      width: 100%;
      margin: 20px 0;

      .post__text {
        display: flex;
        align-items: center;

        img {
          width: 20px;
          height: 20px;
          margin: 0 3px;
        }
      }

      img {
        width: 100%;
        max-height: 500px;
        margin-top: 15px;
        // object-fit: contain;
      }
    }

    .post__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .post__bottomLeft {
        display: flex;
        align-items: center;

        .post__likeButton {
          width: 26px;
          height: 26px;
          margin-right: 5px;
          cursor: pointer;
        }

        .post__bottomLikeCount {
          font-size: 14px;
          margin-left: 5px;
          cursor: pointer;
        }
      }

      .post__bottomRight {

        .post__bottomCommentCount {
          font-size: 14px;
          border-bottom: 1.1px dashed gray;
          cursor: pointer;
        }
      }
    }
  }
}