.rightbar {
  flex: 3;
  
  .rightbar__wrapper {  
    padding: 20px;  

    .rightbar__birthdayContainer {
      display: flex;
      align-items: center;

      .birthdayImg {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }

      .birthdayText {
        font-weight: 300;
        font-size: 15px;
      }
    }

    .rightbar__ad {

      .rightbar__adImg {
        width: 90%;
        max-height: 350px;
        margin: 20px 0;
        border-radius: 20px;
      }
    }

    .rightbar__onlineFriendsContainer {

      h4{
        margin-bottom: 10px;
      }

      .rightbar__onlineFriendList {
        padding: 0;
        margin: 0;
        list-style: none;

        .rightbar__onlineFriend {
          display: flex;
          align-items: center;

          .rightbar__onlineFriendImgContainer {
            margin-right: 15px;
            position: relative;

            img {
              width: 45px;
              height: 45px;
              border-radius: 50%;
              object-fit: cover;
            }
  
            .rightbar__onlineBadge {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: #10c410;
              position: absolute;
              right: 1px;
            }
          }

          .rightbar__onlineFriendUsername {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

